<div class="blog">
    {{#each blogEntries}}
    <div class="entry">
        <h2>{{title}}</h2>
        <div class="user">{{username}}</div>
        <div class="content">{{{content}}}</div>
    </div>
    {{/each}}

</div>