/* 
Colours:
drkgrn: #3B9467
lightgrn: #4FE096
peach: #E08343
drkblue: #1E4F94
lghtblu: #387FE0
white: #FFF 

*/

.hidden-font {
    font-size: 0;
}

body {
    margin: 0;
    background-image: url("../img/bg.jpg");
    background-size: cover;
}

.blog .user {
    background-color: #4FE096;
}

.blog>.entry {
    border-bottom: solid 3px #bbb;
}

.blog h2 {
    margin: 2px;
    font-size: 1.2em;
}

aside>ul {
    margin-bottom: 0;
}

#site {
    box-sizing: border-box;
    border: #1E4F94 6px groove;
    border-radius: 8px 2px;
    box-shadow: 3px 6px 8px #0a1c38aa;
    background-color: #fffc;
}

header {
    background-color: #3B9467;
    height: 44px;
    font-family: fantasy;
    font-size: 30px;
    padding: 0 10px;
    color: #fff;
    background: -moz-linear-gradient(-45deg, #3b9467 0%, #173a2e 100%);
    background: -webkit-linear-gradient(-45deg, #3b9467 0%, #173a2e 100%);
    background: radial-gradient(ellipse at top left, #3b9467 0%, #3b9467 10%, #173a2e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b9467', endColorstr='#173a2e', GradientType=1);
}

nav {
    background-color: #4FE096;
}

nav>a {
    padding: 1.1vh 0.4vw;
    margin: 0 0.5vw;
    box-sizing: border-box;
    display: inline-block;
    text-decoration: none;
    color: #1E4F94;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    transition-duration: 400ms;
    transition-property: background-color;
}

nav>a:hover {
    background-color: #387FE0;
    color: #fff;
}

main {
    padding: 8px;
    box-sizing: border-box;
    font-size: initial;
    vertical-align: top;
}

main>form textarea {
    width: 99%;
}

aside {
    background-color: #2ddbd3;
    box-sizing: border-box;
    font-size: initial;
    vertical-align: top;
}

footer {
    background-color: #387FE0;
    padding: 1vmax;
    color: #bbb;
}

@media only screen and (min-width: 786px) {
    #site {
        width: 780px;
        margin: 15px auto;
    }
    aside {
        box-sizing: border-box;
        display: inline-block;
        width: 20%;
    }
    aside>ul {
        margin: 15px;
    }
    main {
        box-sizing: border-box;
        display: inline-block;
        width: 80%;
    }
}