<form action="" method="POST" enctype="application/x-www-form-urlencoded">
    <div>
        <label for="title">Post title</label>
        <input type="text" id="title" name="title" />
    </div>
    <div>
        <textarea name="content"></textarea>
    </div>
    <input type="submit" value="Add" />
</form>