<form method="POST" action="" enctype="application/x-www-form-urlencoded">
    {{#if page}}
    <a href="/{{page.pageKey}}">Back to view</a>
    {{else}}
    <div>
        <label for="pageKey">Page Key:</label>
        <input type="text" id="pageKey" name="pageKey" />
    </div>
    {{/if}}

    <div>
        <label for="title">Page Title:</label>
        <input type="text" id="title" name="title" value="{{title}}" />
    </div>
    <div>
        <textarea name="content" rows="12" cols="46">{{{page.content}}}</textarea>
    </div>
    <input type="reset" />
    <input type="submit" value="Save" />
</form>